.servicios {
  padding: 2rem;
  background-color: #2A3E50;
  h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .card {
    color: white;
    margin: 1rem 0;
    background-color: #212529;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    width: 20rem;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    padding: 1rem;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    h4 {
      color: #007bff;
      font-weight: bold;
      text-align: center;
      margin-top: 1rem;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }

  .text-center {
    margin-top: 2rem;
  }


  .boton {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #212529;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #7e8081;
    }
  }
}