.pide-cita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2A3E50;

}

.pide-cita iframe {
  min-width: 50%;
  margin: 5rem;
  height: 800px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.pide-cita iframe:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.01); 
}